<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Status do Dispositivo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Status do Dispositivo</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="ion-margin">

    <h3>Status da Bateria:</h3>
    <small>Carga: {{outBat * 100}}% - <span *ngIf="outBatCharge">Carregando...</span></small>
    <ion-progress-bar [value]="outBat"></ion-progress-bar>

    <h3>Sistema:</h3>
    <ul>
        <li>Sistema: {{outSystemOp}}</li>
    </ul>

    
  
</div>

  <!--<app-explore-container name="Tab 3 page"></app-explore-container>-->
</ion-content>
